@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap');

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: white;
  color: #8B97D2;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile-pic{
  max-width: 200px;
  border-color: #8B97D2;
  border: solid 5px;
}

.ryan{
  font-family: 'Playfair Display SC', serif;
}

.social-type {
  background-color: #333;
  color: #fff;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 14px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 4px;
  text-align: center;
  background-color: #002274;
}

a{
  color: white;
}

@media screen and (max-width: 600px){
  .profile-pic{
    width: 35%;
  }

  body {
    font-size: 12px;
  }
}

.navigation-bar{
  background-color: #002274;
  border-bottom: solid 4px;
  border-color: #7E79C0;
}

.navigation-text{
  color: #8B97D2;
}

.card-body{
  border: solid 5px #002274;
  background-color: #8B97D2;
  color: white;
  
}

.btn{
  border: solid;
  border-color: #8B97D2;
  color: #8B97D2;
}
